<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Demo Web Shop Automation Suite">

    <listeners>
        <listener class-name="com.automation.listeners.ExtentListener"/>
    </listeners>

    <test name="Demo Web Shop UI Tests">
        <classes>
            <class name="com.automation.tests.LoginTest"/>
            <class name="com.automation.tests.RegistrationTest"/>
            <class name="com.automation.tests.HomePageTest"/>
        </classes>
    </test>

</suite>